<div id="app">

  <el-tooltip class="item" effect="dark" content="创建一条记录" placement="right">
    <el-button type="primary" @click="createFlag = true" size="mini" icon="el-icon-plus"></el-button>
  </el-tooltip>
  <el-table :data="tableData" style="width: 100%">
    <el-table-column prop="id" fixed label="id" width="80"></el-table-column>
    <el-table-column prop="name" fixed label="name" width="180"></el-table-column>
    <el-table-column prop="password" label="password" width="100"></el-table-column>
    <el-table-column prop="email" label="email" width="230"></el-table-column>
    <el-table-column prop="city" label="city" width="180"></el-table-column>
    <el-table-column prop="programLanguage" label="programLanguage" width="180"></el-table-column>
    <el-table-column prop="team" label="team" width="180"></el-table-column>
    <el-table-column prop="phone" label="phone" width="180"></el-table-column>
    <el-table-column prop="gender" label="gender" width="180"></el-table-column>
    <el-table-column label="avatar" width="180">
      <template slot-scope="scope">
        <img :src='scope.row.avatar' width="30" height="30"/>
      </template>
    </el-table-column>

    <el-table-column fixed="right" label="操作" width="160">

      <template slot-scope="scope">
        <el-tooltip class="item" effect="dark" content="查看记录详情" placement="left">
          <el-button type="success" size="mini" icon="el-icon-view" circle></el-button>
        </el-tooltip>
        <el-tooltip class="item" effect="dark" content="编辑记录内容" placement="top">
          <el-button type="primary" size="mini" icon="el-icon-edit" circle></el-button>
        </el-tooltip>
        <el-tooltip class="item" effect="dark" content="删除此条记录" placement="right">
          <el-button @click="row_del(scope.row)" type="danger" size="mini" icon="el-icon-delete" circle></el-button>
        </el-tooltip>
      </template>
    </el-table-column>
  </el-table>


  <div class="block">
    <el-pagination
    layout="prev, pager, next"
    @current-change="pg_change"
    :page-count="totalPg">
    </el-pagination>
  </div>

  <el-dialog
  title="创建数据"
  :visible.sync="createFlag"
  width="30%">
    <span>

      <el-form :model="create" :label-position="labelPosition" label-width="80px" :model="formLabelAlign">
        <el-form-item label="name">
          <el-input  v-model="create.name"></el-input>
        </el-form-item>
        <el-form-item label="password">
          <el-input  v-model="create.password"></el-input>
        </el-form-item>
        <el-form-item label="email">
          <el-input  v-model="create.email"></el-input>
        </el-form-item>
      </el-form>
    </span>
    <span slot="footer" class="dialog-footer">
    <el-button @click="createFlag = false">取 消</el-button>
    <el-button type="primary" @click="add">确 定</el-button>
  </span>
  </el-dialog>


</div>

<%= tag(:input, :type => "hidden", :id => 'vue_cxrf', :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>

<script type="text/javascript">
    vm = new Vue({
        el: '#app',
        data: {
            visible: false,
            totalPg: 0,
            currentPg: 1,
            tableData: [],
            createFlag: false,
            create: {
                name: '',
                password: '',
                email: '',
                city: '',
                programLanguage: '',
                team: '',
                phone: '',
                gender: '',
                avatar: ''
            },
            modify:{
                id: 0,
                name: '',
                password: '',
                email: '',
                city: '',
                programLanguage: '',
                team: '',
                phone: '',
                created_at: '',
                updated_at: '',
                gender: '',
                avatar: ''
            }
        },
        created: function () {
            this.pg_change(this.currentPg)
        },
        methods: {
            pg_change: function (pg) {
                this.currentPg = pg
                that = this
                this.$http.get('/vusers/list/' + pg).then(function (response) {
                    var d = response.data;
                    that.tableData = d.data;
                    that.totalPg = d.totalPg;
                });
            },
            row_del: function (row) {
                that = this
                this.$confirm('此操作将永久删除' + row.name + ', 是否继续?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning',
                    center: true
                }).then(function () {
                    that.$http({
                        url: "/vusers/" + row.id,
                        method: 'DELETE',
                        data: {},
                        headers: {
                            'X-CSRF-Token': $('#vue_cxrf').attr('value'),
                        }
                    }).then(function () {
                        this.pg_change(this.currentPg)
                    }, function () {
                        // 请求失败回调
                    });


                }).catch(function () {
                    console.log("取消删除")
                });
            },
            add:function () {

                this.dialogVisible = false
                vuserData = JSON.parse( JSON.stringify(this.create));
                console.log(vuserData)
                this.$http({
                    url: "/vusers",
                    method: 'POST',
                    body: {
                        "vuser":vuserData,
                    },
                    // body: vuserData,
                    headers: {
                        'X-CSRF-Token': $('#vue_cxrf').attr('value'),
                    }
                });
            }
        }
    });

</script>