<div id="app">
  <el-button @click="visible = true">Button</el-button>
  <el-dialog :visible.sync="visible" title="Hello world">
    <p>Try Element</p>
  </el-dialog>

  <%= grid()%>
  <div class="block">
    <el-pagination
    layout="prev, pager, next"
    @current-change="pg_change"
    :page-count="totalPg">
    </el-pagination>
  </div>
</div>


<script type="text/javascript">

    vm = new Vue({
        el: '#app',
        data: {
            visible: false,
            totalPg: 0,
            tableData: []
        },
        created: function () {
            this.pg_change(1)
        },
        methods: {
            pg_change: function (pg) {
                that=this
                this.$http.get('/vusers/list/' + pg).then(function (response) {
                    var d = response.data;
                    that.tableData = d.data;
                    that.totalPg = d.totalPg;
                });
            }
        }
    });

</script>