<form class="form-validation"  action="/login/login" method="post">
  <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>
  <div class="form-group">
    <input type="text" class="input-sm validate[required,custom[email]] form-control" placeholder="Email Address">
  </div>
  <div class="form-group">
    <input type="password" class="input-sm validate[required] form-control" placeholder="Password">
  </div>
  <input type="submit" class="btn btn-gr-gray btn-block btn-xs" value="VERIFY & lOGIN">
</form>